
/*Sets the width of the overall page container div
to 90% of viewport width and margin:auto centers the page
in the middle of the browser no matter how wide you stretch the browser*/
.pagecontainer {
  margin: auto;
  width: 90vw;
}
#radio{
  height: 50%;
  width: 50%;
}
#cavepainting{
  height: 50%;
  width: 50%;
}
#wikipedia{
  height: 50%;
  width: 50%;
}
#quora{
  height: 50%;
  width: 50%;
}
#googlescholar{
  height: 50%;
  width: 50%;
}

body {
  font-family: helvetica;
}

header {
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;


}
header img {
  width: 80%;
  height: 550px;
}

h1 {
  text-align: center;
margin-bottom: 4rem;
}

h2 {
  color: #0078B5;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 4rem;
  align-self: flex-end;
    justify-self: right;
    margin-top: -10%;
}

nav ul li {
  background: #FFAE09;
  height: 2rem;
  padding-top: 1rem;

  border: solid;
  border-width: 1px;
  text-align: center;
    border-color: black;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}

article {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
padding: 1em;
  text-align: center;
}
footer p{
  color: black;
}
